@font-face {
  font-family: "Archia";
  src: url("./fonts/archia.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url("./fonts/archia-bold.woff2");
  font-weight: bold;
  font-style: bold;
}

html,
body {
  background-color: #090b0f;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  font-family: "Archia", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
