@font-face {
  font-family: "Archia";
  src: url("./fonts/archia.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Archia";
  src: url("./fonts/archia-bold.woff2");
  font-weight: bold;
  font-style: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap");

html,
body {
  background-color: #090b0f;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2 {
  font-family: "Archia", sans-serif;
}

a,
p {
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}
